build/
CMakeUserPresets.json

*.o
*.d
*.elf
*.map
*.hex
*.bin

*.DS_Store
.cproject
.project
.settings/

__pycache__/
*.pyc
*.egg-info/
.coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
.venv-docs/
gcm.cache/

site/

